<div>
  <div style="display: flex; justify-content: center">
    <div
      style="
        display: flex;
        justify-content: center;
        background-color: white;
        border-radius: 50px;
        width: 20em;
        height: 5em;
        align-items: center;
        margin-top: 2em;
      "
    >
      <img
        src="../../../assets/img/burgerciruclo.png"
        style="height: 3em; height: 3em"
      />
      <span class="titulo">Cardápio</span>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="sec">
      <div class="tipos">
        <div class="tiposborda">
            <img src="../../../assets/img/burger.png" style="height: 1.1em; width: 1.1em; margin-right: 0.3em; margin-bottom: 0.1em;">
            <span class="textipo">Lanches</span>
        </div>
        <div class="tiposborda">
            <img src="../../../assets/img/bebida.png" style="height: 1.2em; width: 1.1em; margin-right: 0.3em; margin-bottom: 0.2em;">
            <span class="textipo">Bebidas</span>
        </div>
        <div class="tiposborda">
            <img src="../../../assets/img/sobremesa.png" style="height: 1.2em; width: 0.90em; margin-right: 0.3em;">
            <span class="textipo">SOBREMESAS</span>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 d-flex justify-content-center" *ngFor="let product of produtos">
            <div class="card">
              <div class="cardwhite">
                <div class="blob">
                  <span class="titulopro">{{ product.nome }}</span>
                  <img src="{{'http://localhost:5229/product/image/' + product.idimagem}}" alt="" style="height: 5.5em; width: 6.5em;">
                  <span class="titulodesc">{{ product.descricao }}</span>
                  <img src="../../../assets/img/tabua.png" style="width: 8em; margin-top: -0.2em;">
                  <span class="preco">{{ product.preco | currency:'BRL' }}</span>
                </div>
              </div>
            </div>
          </div>  
        </div>        
      </div>
    </div>
  </div>
  <div>
    <div style="display: flex; justify-content: center; margin-top: 1.5em;">
      <a *ngIf="isAdm" class="add" (click)="addproduct()">
        <img src="../../../assets/img/addproduct.png" style="height: 2em; margin-right: 0.5em;">
        <span class="addtext">ADD PRODUTO</span>
      </a>
    </div>
  </div>
</div>
