<div>
  <div style="display: flex; justify-content: center">
    <div
      style="
        display: flex;
        justify-content: center;
        background-color: white;
        border-radius: 50px;
        width: 20em;
        height: 5em;
        align-items: center;
        margin-top: 5em;
      "
    >
      <img
        src="../../assets/img/burgerciruclo.png"
        style="height: 3em; height: 3em"
      />
      <span class="titulo">Cardápio</span>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="sec">
      <div class="tipos">
        <div class="tiposborda">
            <img src="../../assets/img/burger.png" style="height: 1.1em; width: 1.1em; margin-right: 0.3em; margin-bottom: 0.1em;">
            <span class="textipo">Lanches</span>
        </div>
        <div class="tiposborda">
            <img src="../../assets/img/bebida.png" style="height: 1.2em; width: 1.1em; margin-right: 0.3em; margin-bottom: 0.2em;">
            <span class="textipo">Bebidas</span>
        </div>
        <div class="tiposborda">
            <img src="../../assets/img/sobremesa.png" style="height: 1.2em; width: 0.90em; margin-right: 0.3em;">
            <span class="textipo">SOBREMESAS</span>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm d-flex justify-content-center">
            <div class="card">
              <div class="circle"></div>
              <div class="line"></div>
            </div>
          </div>
          <div class="col-sm d-flex justify-content-center">
            <div class="card"></div>
          </div>
          <div class="col-sm d-flex justify-content-center">
            <div class="card"></div>
          </div>
        </div>
        <div class="row">
            <div class="col-sm d-flex justify-content-center">
              <div class="card">
                <div class="circle"></div>
                <div class="line"></div>
              </div>
            </div>
            <div class="col-sm d-flex justify-content-center">
              <div class="card"></div>
            </div>
            <div class="col-sm d-flex justify-content-center">
              <div class="card"></div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
