<div>
    <div style="display: flex; justify-content: center">
      <div
        style="
          display: flex;
          justify-content: center;
          background-color: white;
          border-radius: 50px;
          width: 20em;
          height: 5em;
          align-items: center;
          margin-top: 5em;
        "
      >
        <img
          src="../../../assets/img/cupomcirculo.png"
          style="height: 3.5em; height: 3.5em"
        />
        <span class="titulo">CUPONS

        </span>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="sec">
        <div class="tipos">
          <div class="tiposborda">
              <img src="../../../assets/img/cupom.png" style="height: 1.1em; width: 1.1em; margin-right: 0.3em; margin-bottom: 0.1em;">
              <span class="textipo">DO DIA</span>
          </div>
          <div class="tiposborda">
              <img src="../../../assets/img/cupom.png" style="height: 1.1em; width: 1.1em; margin-right: 0.3em; margin-bottom: 0.2em;">
              <span class="textipo">MENSAIS</span>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4 d-flex justify-content-center">
              <div class="card">
                <img src="../../../assets/img/pegarcupom.png" class="imgcupom">
              </div>
            </div>
            <div class="col-sm-4 d-flex justify-content-center">
                <div class="card">
                  <img src="../../../assets/img/pegarcupom.png" class="imgcupom">
                </div>
              </div>
              <div class="col-sm-4 d-flex justify-content-center">
                <div class="card">
                  <img src="../../../assets/img/pegarcupom.png" class="imgcupom">
                </div>
              </div>
              <div class="col-sm-4 d-flex justify-content-center">
                <div class="card">
                  <img src="../../../assets/img/pegarcupom.png" class="imgcupom">
                </div>
              </div>
              <div class="col-sm-4 d-flex justify-content-center">
                <div class="card">
                  <img src="../../../assets/img/pegarcupom.png" class="imgcupom">
                </div>
              </div>
              <div class="col-sm-4 d-flex justify-content-center">
                <div class="card">
                  <img src="../../../assets/img/pegarcupom.png" class="imgcupom">
                </div>
              </div>
              <div class="col-sm-4 d-flex justify-content-center">
                <div class="card">
                  <img src="../../../assets/img/pegarcupom.png" class="imgcupom">
                </div>
              </div>
              <div class="col-sm-4 d-flex justify-content-center">
                <div class="card">
                  <img src="../../../assets/img/pegarcupom.png" class="imgcupom">
                </div>
              </div>
              <div class="col-sm-4 d-flex justify-content-center">
                <div class="card">
                  <img src="../../../assets/img/pegarcupom.png" class="imgcupom">
                </div>
              </div>
              
              
          </div>
        </div>
      </div>
    </div>
  </div>
  